body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.edit-btn {
  border: 0;
  background: none;
  cursor: pointer;
}

.delete-btn {
  color: red;
  border: 0;
  background: none;
  cursor: pointer;
}

.card .card-content .card-title {
  margin-bottom: 0;
}

.card .card-content p.timestamp {
  color: #999;
  margin-bottom: 12px;
}

.push-in {
  margin: 50px;
}

.progress {
  margin: 100px 0;
}

.page-footer {
  position: fixed;
  width: 100%;
  bottom: 0 !important;
}

#spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
